$red: #d81816;
$dark-grey: #333;
$light-blue: rgb(209, 233, 252);
$light-sky: rgb(208, 242, 255);
$light-yellow: rgb(255, 247, 205);
$light-orange: rgb(255, 231, 217);
$white: #fff;
$light-grey: #ddd;